<h1>My Tasks</h1>
<ul class="task-list">
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><i class="far fa-check-square"></i> <%= link_to task.title, task_path(task) %></li>
    <% else %>
      <li><i class="far fa-square"></i> <%= link_to task.title, task_path(task) %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "➕ Add a new task" , new_task_path %>

