@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(tasks.scss);

.task-list > li {
  list-style: none;
}

.task-list > li > a {
  text-decoration: none;
  color: rgba($color: #000000, $alpha: 0.8);
}

.task-list > li> a:hover {
  color: rgba($color: #000000, $alpha: 1.0);
  font-weight: bold;
}

.task-bar > ul {
  padding: 8px;
}
